<div style="border: 1px solid red;">
    <div>
        <img src="https://placeholder.com/150/300" alt="">
    </div>
    <div class="wrapper">
        <div class="thumb_cont img_1">
            <div>
                <a routerLink="/oursPolaire" routerLinkActive="active">
                    <img class="thumb_img" src="assets\img\CONTOURPHOTOalphav.png" alt="">
                    <p class="thumb_title">ours polaire </p>
                </a>
            </div>
        </div>
        <div class="thumb_cont img_2">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\CONTOURPHOTOalphav.png" alt="">
                    <p class="thumb_title">44</p>
                </a>
            </div>
        </div>
        <div class="thumb_cont img_3">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\CONTOURPHOTOalphav.png" alt="">
                    <p class="thumb_title">Lorem, ipsum dolor </p>
                </a>
            </div>
        </div>
        <div class="thumb_cont">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\CONTOURPHOTOalphav.png" alt="">
                    <p class="thumb_title">Lorem, ipsum dolor </p>
                </a>
            </div>
        </div>
        <div class="thumb_cont img_5">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\CONTOURPHOTOalphav.png" alt="">
                    <p class="thumb_title">Lorem, ipsum dolor </p>
                </a>
            </div>
        </div>
    </div>
</div>