<div style="position: fixed; top: 0; right: 0;">
    <!--<img src="\assets\img\Untitled Diagram.png" alt="">-->
</div>
<div>
    <div class="wrapper">
        <div class="thumb_cont img_1">
            <div>
                <a routerLink="/oursPolaire" routerLinkActive="active">
                    <img class="thumb_img" src="assets\img\mignaV2a.jpg" alt="">
                    <!--
                    <p class="thumb_title">ours polaire </p>
                     -->
                </a>
                <p style="text-align: center;">titre titre titre</p>
            </div>
        </div>
        <div class="thumb_cont img_2">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2b.jpg" alt="">
                </a>
                <p style="text-align: center;">titre titre titre</p>
            </div>
        </div>
        <div class="thumb_cont img_3">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2c.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="thumb_cont img_4">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2d.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="thumb_cont img_5">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2e.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="thumb_cont img_6">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2f.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="thumb_cont img_7">
            <div>
                <a href="">
                    <img class="thumb_img" src="assets\img\mignaV2g.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>